* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  color: black;
}


.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 600px;
  width: 600px;
}

.grid div {
  border: 1px solid lightgrey;
  flex-grow: 1;
  height: 7.5%;
  width: 7.5%;

 
}

.player{
  background-image: url('../assets/shotgun.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.leadEnemy {
  background-color: blue;
}

.weapon {
  background-color: black;
}

.enemy {
  background-image: url('../assets/cacodemonone.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.enemyBomb {
  background-color: crimson;
}

.weaponFrameOne{
  background-image: url('../assets/sgframetwo.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.backgroundColour {
  background-color: white;
}

.weaponFrameTwo{
  background-color: cyan;
}

.gibs {
  background-image: url('../assets/ludicrous\ gibs.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.rocketLauncher {
  background-color: yellow;
}