* {
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');

body {
  height: 100vh;
  margin: 0;
  color: black;
  display: flex;;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* #door {
  height: 600px;
  width: 600px;
  z-index: 2;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/DOOM\ DOOR.png');
  background-repeat: no-repeat;
  background-size: cover;
} */
.grid {
  z-index: 1;
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 600px;
  width: 600px;
  position: absolute;
  background-image: url('../assets/betterbackground.png');

}

.grid div {
  flex-grow: 1;
  height: 7.5%;
  width: 7.5%;

}

.player{
  background-image: url('../assets/actualshotgun.png');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 2;
}

.leadEnemy {
  background-color: blue;
}

.weapon {
  /* background-color: black; */
}

.enemy {
  background-image: url('../assets/cacodemonone.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.enemyAttack {
  background-image: url('../assets/attackframe.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.enemyBomb {
  background-image: url('../assets/FIREBALL.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.weaponFrameOne{
  background-image: url('../assets/shotgunOne.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.backgroundColour {
  background-color: white;
}

.weaponFrameTwo{
  background-image: url('../assets/shotguntwo.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.weaponFrameThree {
  background-image: url('../assets/shotgunthree.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.gibs {
  background-image: url('../assets/ludicrous\ gibs.png');
  background-repeat: no-repeat;
  background-size: contain;
}
